

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="col-sm-12 text-center navbar-text">
        Powered by Claire
    </div>
  </div>
</nav>

  </body>
</html>