<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
	<link rel='stylesheet' href='/stylesheets/lessonplanscss.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap/css/bootstrap.css' />
	<link rel='stylesheet' href='/stylesheets/lessonplanscss.css' />
	<script src='/javascripts/jquery-3.1.0.min.js' ></script>
	<script src='/stylesheets/bootstrap/js/bootstrap.js' ></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
	
	<div class="container-fluid bg-primary">
		<h1>teacherzone.co.uk</h1>
	</div>

	
	<nav class="navbar navbar-inverse navbar-static-top">

		<div class="container">

			<ul class="nav navbar-nav">

				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#Primary">Primary
					<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Art</a></li>
						<li><a href="#">Literacy</a></li>
						<li><a href="primary/numeracy">Numeracy</a></li>
						<li><a href="#">Science</a></li> 
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#Secondary">Secondary
					<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Art</a></li>
						<li><a href="#">Biology</a></li>
						<li><a href="#">Chemistry</a></li>
						<li><a href="#">English</a></li>
						<li><a href="#">Mathematics</a></li>
						<li><a href="#">Physics</a></li> 
					</ul>
				</li>

				<li><a href="#">Worksheet Generator</a></li> 
				<li><a href="#">Contact</a></li>
				<li><a href="#">About</a></li>
			</ul>
		
		</div>
	</nav>
	

	
<!-- Display current location -->



<!--
<nav class="breadcrumb">
  <li class="breadcrumb-item active">Home</li>
</nav>
<nav class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item active">Library</li>
</nav>
<nav class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item"><a href="#">Library</a></li>
  <li class="breadcrumb-item active">Data</li>
</nav>
-->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
 <!-- Carousel indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<!-- Carousel items -->
	<div class="carousel-inner">
		<div class="item active">
<!--			<img src="/images/decorations/piano_560.jpg"/>
-->
			<p>Some stuff for the first slide </p>
		</div>
		<div class="item">
			<p>Some stuff for the second slide </p>
		</div>
		<div class="item">
			<p>Some stuff for the third slide </p>
		</div>
	</div>
</div>	
	
	
	
	
	
  
  </body>
</html>
