
<page-header></page-header>


<div ng-controller="lessonlistCtrl" class="llbg">

	<div class="row" style="margin:0; padding:none;">

		<div ng-repeat="j in vm.alltopics">

			<div ng-repeat="i in filtered = (vm.alllessons | filter: {topic:j} | orderBy: ['name','averagereview'])">
				<div ng-if="$first" class="col-xs-12" style="border-bottom:4px solid white;">
					<h3 style="color:white;" class="col-xs-offset-1">{{j}}</h3>
				</div>

				<div class="col-xs-12" style="padding-bottom: 10px;">

					<div class="col-xs-10 col-xs-offset-1 offset-xs-1 col-md-3 col-md-offset-1 vcentercpt">
						<a class="col-xs-12" href="/#/showplans/{{i.level}}/{{i.topic}}/{{i._id}}"><h3 style="text-transform: capitalize;">{{i.name}}</h3></a>
					
						<p class="colw col-xs-12">{{ i.description}}</p>
						<p class="colg col-xs-12" ng-if="i.description === ''">No description available</p>
						<p class="colw col-xs-7">Average Rating: </p><p ng-if="i.averagereview === 0" class="colg">No ratings available</p>

						<div ng-if="i.averagereview !== 0">
							<img ng-src="{{i.averagereview | choosestars }}"/>
						</div>

					</div><!--

					--><div id="divonelesson" class="col-xs-10 col-xs-offset-1 col-md-7 col-md-offset-0 vcentercp">
					<!--
						<iframe class="valign" ng-src="{{ '/datastore/' + i.level + '/' + i.topic + '/' + i._id + '.pdf' }}" name="internal" target="internal" seamless='seamless' id="ifonelesson" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0" width="100" style="margin-top:10px;"></iframe>
					-->
<div id="iframetitle">Lesson preview</div>

<iframe id="lliframe" class="valign" ng-src="{{ '/datastore/' + i.level + '/' + i.topic + '/' + i._id + '.htm' }}" name="internal" target="internal" seamless='seamless' id="ifonelesson" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0" width="100"></iframe>

<!--
<iframe class="valign" ng-src="{{ '/ViewerJS/#../datastore/' + i.level + '/' + i.topic + '/' + i._id + '.pdf' }}" name="internal" target="internal" seamless='seamless' id="ifonelesson" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0" width="100" style="margin-top:10px;"></iframe>
-->
						<button class="btn btn-primary" style="margin:6px 0px 0px 0px;"><a style="color:white" href="/datastore/{{i.level}}/{{i.topic}}/{{i._id}}.{{i.ext}}" download="{{i.name}}" target="_self">Download Plan</a></button>

					</div>				

					<div class="row text-center">

						<form ng-if="phvm.currentUser.type==1" ng-submit="vm.onSubmit(i.level, i.topic, i._id)" method="post" role="form" class="container-fluid form-horizontal">
							<div>
								<button class="btn btn-primary" type="submit" style="margin:48px 0px 0px 0px;">Delete</button>
							</div>
						</form>

					</div>
					<hr>
				</div>
			</div>
		</div>
	</div>
</div>





<page-footer></page-footer>



		
